* {
  /* --var-primary-color: #344a72; */
  --var-primary-color: #264a70;
  /* --var-secondary-color: #49c1a2; */
  --var-secondary-color: #41c7a3;
  /* --var-blue-color: #5488a7; */
  /* --var-blue-color: #5990b0; */
  --var-blue-color: #73a8c7;
  --var-dark-color: #333; 
  --var-white-color: #fff;
  --var-grey-color: #666;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Space Mono', monospace;
  /* font-family: 'Space Grotesk', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Eczar', serif; */
  /* font-family: 'DM Sans', sans-serif; */
  background: var(--var-primary-color);
  color: var(--var-white-color);
  line-height: 1.6;
}

.page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.content-wrap {
  padding-bottom: 6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  line-height: .4;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

p {
  margin: 1rem;
  font-size: 18px;
}

img {
  width: 100%;
}

/* Header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  top: 0;
  color: var(--var-white-color);
  padding: 0 30px;
}

.navbar ul a:hover {
  border-bottom: var(--var-secondary-color) 2px solid;
  color: var(--var-white-color);
}

.navbar ul {
  display: flex;
}

.navbar i {
  border: var(--var-white-color) 2px solid;
  padding: 5px;
  margin: 0 3px;
}

.navbar a {
  color: var(--var-white-color);
  padding: 10px 10px;
  margin: 0 15px;
}

#header .sub-heading {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
}

.music-color {
  color: var(--var-secondary-color);
}

/* Music Player */
.music-container {
  width: 50%;
  padding: 1.5rem 2rem;
  border: 4px var(--var-white-color) solid;
  margin: 3rem auto;
}

.music-container h1 {
  font-size: 25px;
  line-height: 1.2;
}

.music-container div {
  border-bottom: var(--var-blue-color) 2px solid;
}

.music-container div:last-child {
  border-bottom: none;
}

.music-container .artist-color {
  color: var(--var-blue-color);
  /* opacity: .9; */
}

/* Sub heading */
.sub-heading {
  text-align: center;
  display: block;
}

.sub-heading h1 {
  font-size: 70px;
  font-weight: 300;
  padding-bottom: .5rem;
}

.sub-heading h4 {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 5rem;
}

.sub-heading h3 {
  font-size: 31px;
  font-weight: 400;
}

.sub-heading p {
  width: 80%;
  margin: auto;
}

.sub-heading .thank-you {
  margin-top: 3rem;
}

/* About */
#about .container {
  margin: auto;
}

#about .container h1 {
  font-size: 70px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 3rem;
}

#about .container p {
  width: 80%;
  margin: auto;
  /* padding: 0 2rem 3rem 3rem; */
}

/* Contact */
.contact-container {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  /* border: var(--var-white-color) 2px solid; */
  padding: .3rem;
  margin: auto;
}

.contact-container a {
  color: var(--var-secondary-color);
}

.contact-container a:hover {
  color: var(--var-white-color);
}


/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  background: var(--var-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 6rem;
}

#footer h4 {
  margin: 35px auto;
  font-size: 15px;
}

@media(max-width: 1028px){
  * {
    line-height: 1.2;
  }

  .navbar {
    padding: 3rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sub-heading h1 {
    line-height: 1.2;
  }
  .sub-heading h4 {
    line-height: 1.4;
    padding: 0 1rem;
  }
  .sub-heading h3 {
    padding: 0 1rem;
    line-height: 1.4;
  }

  .music-container {
    width: 80%;
    padding: 1rem 1rem;
    border: 2px var(--var-white-color) solid;
  }
  .music-container h1 {
    font-size: 23px;
  }
  .music-container div {
    padding-bottom: .5rem;
  }

  #about .container p {
    margin: auto;
  }
  #about .container h1 {
    padding-bottom: 1rem;
  }

  .contact-container {
    font-size: 20px;
    width: 80%;
    padding-top: 1rem;
  }
}