/* Archive */
#archive .sub-heading h2 {
  padding: 2rem;
}

article h1 {
  font-size: 18px;
  line-height: 0.2;
  color: var(--var-light-blue);
}

.week {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

@media(max-width: 1028px) {
  #archive .container {
    /* padding: .5rem 1rem; */
    margin: 0;
    line-height: 1;
    width: 100vw;
  }

  #archive .container h1 {
    font-size: 18px;
    margin: 0.5rem;
  }

  #archive>div:last-child {
    margin-bottom: 1.5rem;
  }

  #app {
    padding: 0;
    margin: auto;
    width: 100vw;
  }

  #archive .week {
    margin: 0 auto;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    width: 70%;
  }

  #archive .week h1 {
    font-size: 18px;
    padding: 0;
  }

  article > div {
    /* padding: 0.5rem; */
  }

  #app div {
    padding: 0.5rem 0;
  }
}