* {
  /* --var-primary-color: #344a72; */
  --var-primary-color: #29507a;
  /* --var-green-color: #49c1a2; */
  --var-green-color: #41c7a3;
  --var-light-blue: #76acd6;
  /* --var-blue-color: #76acd6; */
  --var-blue-color: #4373a6;
  /* --var-blue-color: #5990b0; */
  /* --var-blue-color: #75bad5; */
  /* --var-blue-color: #3f4462; */
  --var-dark-blue: #15445d;
  --var-dark-color: #333;
  --var-white-color: #fff;
  --var-grey-color: #666;
  --var-light-grey: #dad9da;
  --var-darker-grey: #cdcdcd;
  --var-darkish-grey: #888789;
  --var-purple-color: #d49b5d;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  background: var(--var-primary-color);
  color: var(--var-white-color);
  line-height: 1.6;
}

.page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.content-wrap {
  padding-bottom: 6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: .4;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

p {
  margin: 1rem;
  font-size: 18px;
}

img {
  width: 100%;
}

/* Header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  top: 0;
  color: var(--var-white-color);
  padding: 10px 30px;
}

.navbar ul a:hover {
  border-bottom: var(--var-green-color) 2px solid;
  color: var(--var-white-color);
}

.navbar ul {
  display: flex;
  padding: 0;
}

.navbar i {
  border: var(--var-white-color) 2px solid;
  padding: 5px;
  margin: 0 3px;
}

.navbar a {
  font-family: 'Raleway', sans-serif;
  color: var(--var-white-color);
  padding: 8px 6px;
  margin: 0 25px;
}

#header .sub-heading {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
}

.music-color {
  color: var(--var-green-color);
}

/* Sub heading */
.sub-heading {
  text-align: center;
  display: block;
}

.sub-heading h1 {
  font-size: 70px;
  font-weight: 300;
  padding-bottom: .5rem;
}

.sub-heading h4 {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 4rem;
}

.sub-heading h3 {
  font-size: 31px;
  font-weight: 400;
  padding-bottom: .5rem;
}

.sub-heading p {
  width: 80%;
  margin: auto;
}

.sub-heading .thank-you {
  margin-top: 3rem;
}

/* Music Player */
article {
  background-color: var(--var-white-color);
  width: 50%;
  padding: 0rem 2rem;
  border: 6px var(--var-darker-grey) solid;
  margin: 2rem auto;
  text-align: center;
  align-items: center;
}

article h1 {
  font-size: 25px;
  line-height: 1.2;
  color: var(--var-light-blue);
}

article>div {
  border-bottom: var(--var-darker-grey) 2px solid;
  padding: 1rem;
}

article div:last-child {
  border-bottom: none;
}

article .artist-color {
  color: var(--var-primary-color);
}

/* Music Nav */
.action-btn {
  background-color: var(--var-white-color);
  border: 0;
  color: var(--var-blue-color);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
  width: 8%;
}

.action-btn:focus {
  outline: 0;
}

.action-btn:active {
  color: var(--var-primary-color);
}

.action-btn-big {
  color: var(--var-blue-color);
  font-size: 30px;
}

.fa-pause {
  color: var(--var-green-color);
}

.progress-container {
  background: var(--var-darker-grey);
  cursor: pointer;
  margin: 10px auto;
  height: 6px;
  width: 50%;
  align-items: center;
  border-radius: 5px;
}

.progress {
  background-color: var(--var-green-color);
  height: 100%;
  width: 0%;
  transition: width 55ms linear;
  border-radius: 5px;
}

.reminder {
  text-align: center;
  padding: 1rem 0 3rem 0;
}

/* About */
#about .container {
  margin: auto;
}

#about .container h1 {
  font-size: 70px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 3rem;
  text-decoration: underline var(--var-white-color);
}

#about .container p {
  margin: 2rem auto;
  padding-bottom: .5rem;
  font-size: 19px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  max-width: 70%;
}

.aside-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  max-width: 50%;
  margin: auto;
  padding: 1rem;
  text-align: start;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.aside-container p:nth-child(3) {
  text-align: center;
}

.aside-container .aside-1 {
  background: var(--var-white-color);
  color: var(--var-primary-color);
  border: var(--var-darker-grey) 6px solid;
  padding: .8rem;
  box-shadow: 2px 2px 4px var(--var-dark-color);
}

.aside-container .aside-2 {
  background: var(--var-white-color);
  color: var(--var-primary-color);
  border: var(--var-darker-grey) 6px solid;
  padding: .8rem;
  box-shadow: 2px 2px 4px var(--var-dark-color);
}

.thank-you {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

/* Contact */
.contact-container {
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 1.5rem;
  margin: auto;
}

.contact-container a {
  color: var(--var-green-color);
}

.contact-container a:hover {
  color: var(--var-white-color);
}

.tiny {
  font-size: 6px;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
}

/* Archive */
#archive .sub-heading h2 {
  padding: 2rem;
}

#archive .date {
  text-align: center;
}

#archive .container {
  padding: 0 1rem;
  margin: 0 auto 3rem;
}

#archive .container h1 {
  font-size: 18px;
}

/* #archive .container h1:last-child {
  border-bottom: none;
} */


/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  background: var(--var-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 6rem;
}

#footer h4 {
  margin: 35px auto;
  font-size: 15px;
}

@media(max-width: 1028px) {
  * {
    line-height: 1.2;
  }

  .navbar {
    padding: 3rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sub-heading h1 {
    line-height: 1.2;
    font-size: 65px;
    padding: 0 1rem;
  }

  .sub-heading h4 {
    line-height: 1.4;
    padding: 0 1rem;
  }

  .sub-heading h3 {
    padding: 0 1rem;
    line-height: 1.4;
  }

  #app {
    width: 80%;
    padding: 1rem 1rem;
  }

  #app h1 {
    font-size: 23px;
    text-align: center;
  }

  #app div {
    padding-bottom: .5rem;
    text-align: center;
  }

  .progress-container {
    width: 76%;
    height: 1px;
  }

  .action-btn {
    width: 15%;
  }

  #about .container h1 {
    font-size: 65px;
    padding: 0 2rem 0 2rem;
    line-height: 1;
  }

  #about .container p {
    margin: auto;
    padding: 0 2rem;
    max-width: 90%;
  }

  .contact-container {
    font-size: 20px;
    width: 80%;
  }

  .reminder h3 {
    line-height: 1.4;
    padding: 0 1rem;
  }

  .aside-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
    max-width: 100%;
    grid-gap: 2rem;
  }

  .aside-container p {
    margin: 0.5rem;
    text-align: start;
  }

  .aside-container p:nth-child(3) {
    text-align: center;
  }

  #archive .container {
    padding: .5rem 1rem;
    margin: 0 auto;
    line-height: 1;
  }

  #archive .container h1 {
    font-size: 18px;
    margin: 0.5rem;
  }

  #archive>div:last-child {
    margin-bottom: 1.5rem;
  }
}
